$item-colors: #141519, #4B4C50, #BDBEC0, #EEEEEE;


.hoverSection {
    width: 100%;
    max-width: 370px;
    height: 682px;
    margin: 50px auto 0;
    border-radius: 1.5rem 1.5rem;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: all 0.4s ease;
    overflow: hidden;

    .item {
        width: 100%;
        border-radius: 1.5rem 1.5rem 0 0;
        position: absolute;
        left: 0;
        bottom: 5%;
        
        @for $i from 1 through 4 {
            &.item#{$i} {
                height: 95% - (20% * ($i - 1));
                background-color: nth($item-colors, $i);
                z-index: $i;
            }
        }

        &.item4 {
            bottom: 0;
        }

        .bar {
            width: 30%;
            height: 4px;
            border-radius: 2px;
            background-color: #ffffff;
            position: absolute;
            top: 1rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}