/* Main.module.scss */
.wrapper {
    overflow-x: hidden;
}

.topSpace, .bottomSpace {
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollWrapper {
    overflow: hidden; // 가로 스크롤 방지
}

.pinSection {
    width: 100%;
    height: 100vh;
    color: white;
    position: relative;
    .leftSection {
        width: 100%;
        height: 100%;
        background-color: #282c34;
    }

    .rightSection {
        width: 50%;
        height: 100%;
        background-color: red;
        border-radius: 2.5rem;
        position: absolute;
        top: 0;
        right: 0;
    }
}