/* ScrollEvent.module.scss */
.wrapper {
    width: 100%;
    padding: 10px;
    background-color: pink;
    overflow: hidden;
    box-sizing: border-box;
}

.topSpace, .bottomSpace {
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollWrapper {
    display: block;
    width: 100%;
    overflow: hidden;
}

.pinSection {
    width: 100%;
    height: 100vh;
    position: relative;

    .leftSection {
        width: 100%;
        height: 100%;
        background-color: #282c34;
    }

    .rightSection {
        width: 50%;
        height: 100%;
        background-color: red;
        border-radius: 2.5rem;
        position: absolute;
        top: 0;
        right: 0;
        will-change: width, border-radius;
    }
}